.nexton {
  position: relative;
  letter-spacing: -0.11em;
  line-height: 32px;
  font-weight: 600;
}
.ecommerce {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.1em;
  line-height: 9px;
}
.logo,
.logo1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logo1 {
  width: 119px;
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.logo {
  align-items: flex-start;
}
.svgIcon,
.text {
  position: relative;
}
.svgIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  line-height: 24px;
}
.listItem,
.pxRegular {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.listItem {
  gap: var(--gap-5xs);
}
.svgIcon1 {
  width: 20px;
  position: relative;
  height: 19.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.info,
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.info {
  flex: 1;
  gap: var(--gap-xl);
  font-size: var(--font-size-15xl);
}
.h51 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.gettingStarted,
.h5,
.list1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gettingStarted,
.list1 {
  flex-direction: column;
}
.list1 {
  gap: var(--gap-base);
  color: var(--color-dimgray-100);
}
.gettingStarted {
  flex: 1;
  gap: var(--gap-xl);
}
.footerContent,
.mainFooter {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.footerContent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.mainFooter {
  border-top: 1px solid var(--color-gainsboro-100);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-101xl);
}
.visaIcon {
  object-fit: cover;
}
.stripeIcon,
.visaIcon {
  width: 56px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.paymentIcons {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.footer,
.footerBottom,
.paymentIcons {
  display: flex;
  align-items: center;
}
.footerBottom {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-101xl);
  color: var(--color-dimgray-100);
}
.footer {
  position: absolute;
  top: 762px;
  left: 0;
  width: 1536px;
  height: 523px;
  flex-direction: column;
  justify-content: flex-start;
}
.h21 {
  position: relative;
  line-height: 40px;
  font-weight: 600;
}
.input {
  border: 1px solid var(--color-gainsboro-100);
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  background-color: var(--color-white);
  border-radius: var(--br-xs);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  color: var(--color-dimgray-200);
}
.emailInput,
.input,
.input1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailInput {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.input1 {
  border: 1px solid var(--color-gainsboro-100);
  outline: 0;
  background-color: var(--color-white);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  height: 43.2px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
}
.text17 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.continueBtn,
.form {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.continueBtn {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-9980xl);
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-sm) 0;
  cursor: pointer;
  color: var(--color-white);
}
.form {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-5xl);
  color: var(--color-gray-100);
}
.divabsolute {
  position: absolute;
  height: 7.84%;
  width: 100%;
  top: 41.18%;
  right: 0;
  bottom: 50.98%;
  left: 0;
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
}
.text18 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pxMedium1 {
  position: absolute;
  top: 0;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.spanrelative {
  position: absolute;
  top: 0;
  left: calc(50% - 25.9px);
  background-color: var(--color-white);
  width: 51.8px;
  height: 20.4px;
}
.seperator {
  align-self: stretch;
  position: relative;
  height: 20.4px;
  font-size: var(--font-size-sm);
}
.login {
  color: var(--color-deepskyblue);
}
.text19 {
  position: relative;
  line-height: 24px;
  cursor: pointer;
}
.loginForm,
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.loginForm {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.mainContent {
  width: 440px;
  gap: var(--gap-41xl);
  max-width: 440px;
}
.logo2,
.main {
  overflow: hidden;
  display: flex;
}
.main {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1536px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-21xl) 0 var(--padding-53xl);
  box-sizing: border-box;
  font-size: var(--font-size-17xl);
}
.logo2 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  gap: var(--gap-11xs);
}
.svgIcon4 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 0;
}
.pxRegular15 {
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-sm);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-dimgray-100);
  z-index: 1;
}
.itemImageIcon {
  align-self: stretch;
  width: 72px;
  position: relative;
  border-radius: var(--br-5xs);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text20 {
  position: relative;
  text-decoration: line-through;
  line-height: 20px;
}
.pxRegular16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
}
.price {
  justify-content: center;
  gap: var(--gap-11xs);
}
.details,
.itemDetails,
.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.itemDetails {
  flex: 1;
  height: 80px;
  justify-content: center;
}
.products,
.searchItem {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.searchItem {
  border-bottom: 1px solid var(--color-gainsboro-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
  gap: var(--gap-base);
}
.products {
  flex-direction: column;
  justify-content: center;
}
.text23 {
  position: relative;
  line-height: 6px;
  font-weight: 600;
}
.pxSemibold {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
}
.text24 {
  position: relative;
  line-height: 16px;
}
.categoryItem,
.pxRegular19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.pxRegular19 {
  font-size: var(--font-size-xs);
}
.categoryItem {
  border-radius: var(--br-9980xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  padding: var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-9xs);
}
.categories,
.categoryItems {
  align-self: stretch;
  display: flex;
  gap: var(--gap-5xs);
}
.categoryItems {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.categories {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base) 0;
}
.searchDropdown,
.searchbar {
  width: 400px;
  box-sizing: border-box;
}
.searchDropdown {
  margin: 0 !important;
  position: absolute;
  top: 60px;
  left: 0.5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  z-index: 2;
}
.searchbar {
  border-radius: var(--br-9980xl);
  background-color: var(--color-whitesmoke-200);
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.svgIcon5,
.userBtnIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.userBtnIcon {
  cursor: pointer;
}
.svgIcon5 {
  z-index: 0;
}
.cartItems,
.div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  width: 6.3px;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  height: 10px;
  flex-shrink: 0;
}
.cartItems {
  width: 20px;
  margin: 0 !important;
  position: absolute;
  top: -10px;
  left: 14px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-deepskyblue);
  height: 20px;
  flex-direction: column;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  z-index: 1;
}
.cart,
.cartBtn {
  display: flex;
  align-items: flex-end;
}
.cartBtn {
  width: 32px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.cart {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.headerButtons,
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerButtons {
  width: 78px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.headerContainer {
  align-self: stretch;
  height: 100px;
  padding: 0 var(--padding-101xl);
  box-sizing: border-box;
}
.header,
.registerPageDesktop {
  background-color: var(--color-white);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1536px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-15xl);
}
.registerPageDesktop {
  width: 100%;
  position: relative;
  height: 1176px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
